@import url('https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.1/css/bootstrap.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');

html{
  font-size: 100%;
  box-sizing: border-box;
}

body{
  background: var(--bs-alert-bg);
}

.main-section{
  width: 100%;
  min-height: 100vh;
}

.data-input{
  width: 600px;
  max-width: calc(100% - 15px);
  margin: 0 auto;
}
.show-data{
  width: 800px;
  max-width: calc(100% - 15px);
  margin: 0 auto;
}